body{
    background-color: #F6F8FD;
  }

div {
    position: relative;
    margin: 0px;
    padding: 0px;
  }
  
  img {
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }


ul{
    list-style-type: none;
}

ul,body,h1{
    margin: 0px;
    padding: 0px;
}
